html,
body,
div,
p,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  height: 60px;
}

.nav li {
  display: inline-block;
  list-style: none;
  height: 60px;
  line-height: 60px;
  padding: 0 40px;
}

.nav li:hover {
  background: red;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.imageStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.imageStyle p {
  font-size: 20px;
  font-weight: bold;
  font-family: system-ui;
}

.imageStyle img {
  height: 320px;
  width: 360px;
  margin: 10px 10px;
}

.header p {
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.homeStyle,
.aboutStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  height: 100vh;
}